import org.openhab.core.library.types.*
import org.openhab.core.persistence.*
import org.openhab.model.script.actions.*
import java.lang.Integer

var String moteinoUpdate = ""
var Number gw_sts_notified = 0

//To debug the rules via the event log.
// 0 = off
// 1 = Errors
// 2 = Warning
// 3 = Notes
// 4 = All
// Use example: "if (rule_debug_level >= 2) { println("Warning: " + var) }"
var Number rule_debug_level = 2

// Set the nodeIDs in OpenHAB to match the sketches
rule "when system starts"
when
	System started
then
	postUpdate(gateway_nodeid, "1")
	postUpdate(GD1_nodeid, "47")
	postUpdate(mm1_nodeid, "88")
end

rule "On update from the moteino gateway"
when 
	Item moteino received update
then
    moteinoUpdate = moteinoUpdate + moteino.state.toString.trim
    if (rule_debug_level >= 4) { println("moteinoUpdate -> " + moteinoUpdate)}
    if (moteinoUpdate.contains(";")) {
    	postUpdate(moteino_last_parsed, moteinoUpdate)
    	moteinoUpdate = moteinoUpdate.replace(";","")
    	
    	var String[] buffer
    	if(!moteinoUpdate.contains(",")) {
    		moteinoUpdate = ""
    	} else {
    		buffer = moteinoUpdate.split(',')
	    	
		moteinoUpdate = ""
		var String nodeIDString = buffer.get(0)
		var String itemString = buffer.get(1)
		var String valueString = buffer.get(2)
		
	if (nodeIDString == "47") { // Garagemote #1 	    	
		if (itemString == "doorSts") {
			switch(valueString) {
				case "0" : postUpdate(GD1_sts, 0)
				case "1" : postUpdate(GD1_sts, 1)
				case "2" : postUpdate(GD1_sts, 2)
				case "3" : postUpdate(GD1_sts, 3)
				case "4" : postUpdate(GD1_sts, 4)
			}
		}
		if (itemString == "Startup") {
			postUpdate(GD1_last_start, new DateTimeType())
		}				
		if (itemString == "lux"){
			var Number lux
			lux = Float::parseFloat(valueString)
    			postUpdate(GD1_lux, lux)
    		}
    		if (itemString == "hum"){
    			var Number hum = 0.00f
    			hum = Float::parseFloat(valueString)
    			postUpdate(GD1_hum, hum)
    		}
    		if (itemString == "temp"){
	    		var Number tempf = 0.00f
	    		tempf = Float::parseFloat(valueString)
    			postUpdate(GD1_temp, tempf)
    		}
    		if (itemString == "motion") {
    			postUpdate(GD1_motion_detected, ON)
    			postUpdate(GD1_last_detected, new DateTimeType())
    			if (Notification_state.state == ON){
    				if (rule_debug_level >= 2) { println("Notifying, GarageMote 1 detected motion.") }
    				notifyMyAndroid("Motion Detected", "GarageMote 1 detected motion.",1)
    			}
    		}
    		postUpdate(GD1_last_sts, new DateTimeType())
    		if (GD1_state.state != ON) { postUpdate(GD1_state, ON) }
		}		
		if (nodeIDString == "1")  {
	    		if (itemString == "voltage"){
		    		var Number voltage = 0.00f
		    		voltage = Float::parseFloat(valueString)
	    			postUpdate(mb_batt_volts, voltage)
	    			if (voltage >= 3.8 && (mb_plugged_in == 0 || mb_plugged_in == Uninitialized)) {
	    				if (mb_low_battery == 1 || mb_low_battery == Uninitialized) {postUpdate(mb_low_battery, 0)}
	    				postUpdate(mb_plugged_in, 1)
	    				notifyMyAndroid("Gateway" , "The gateway is now plugged in" ,2)
	    			} else if (voltage < 3.8 && voltage >= 3.4 && (mb_plugged_in == 1 || mb_plugged_in == Uninitialized)) {
	    				if (mb_low_battery == 1 || mb_low_battery == Uninitialized) {postUpdate(mb_low_battery, 0)}
	    				postUpdate(mb_plugged_in, 0)
	    				notifyMyAndroid("Gateway" , "The gateway is no longer plugged in" ,2)
	    			} else if (voltage < 3.4 && (mb_low_battery == 0 || mb_low_battery == Uninitialized)) {
	    				if (mb_plugged_in == 1 || mb_plugged_in == Uninitialized) {postUpdate(mb_plugged_in, 0)}
	    				postUpdate(mb_low_battery, 1)
	    				notifyMyAndroid("Gateway" , "The battery is low" ,2)
	    			}
    			}
	    		if (itemString == "Shutdown") {
	    			postUpdate(mb_shutting_down, if(valueString=="1") ON)
	    			notifyMyAndroid("Gateway" , "The gateway is shutting down" ,2)
	    		}
	    		if (itemString == "Startup") {
	    			postUpdate(gateway_last_start, new DateTimeType())
	    		}
		}
		if (nodeIDString == "88") {		//MotionMote
		    	if (itemString == "voltage"){
		    		var Number voltage = 0.00f
					voltage = Float::parseFloat(valueString)
	    			postUpdate(mm1_batt_volts, voltage)
	    		}
	    		if (itemString == "motion") {
	    			postUpdate(mm1_detected, ON)
	    			postUpdate(mm1_last_detected, new DateTimeType())
	    			
	    			if (rule_debug_level >= 3) { println("Notification State -> " + Notification_state.state) }
	    			if (Notification_state.state == ON){
	    				if (rule_debug_level >= 2) { println("Notifying, MotionMote 1 detected motion.") }
	    				notifyMyAndroid("Motion Detected", "MotionMote 1 detected motion.",1)
	    			}
    			}
		}
		postUpdate(gateway_last_sts, new DateTimeType())
		if (gateway_state.state != ON) { postUpdate(gateway_state, ON) }
	}
    }
end

/*
 * Status checks for each moteino
 */

//Check gateway statuses for if no update in 5 minutes
rule "Timed gateway status check"
when
	Time cron "0 * * * * ?"
then
	if(gateway_last_sts.changedSince(now.minusMinutes(5))) {
		sendCommand(moteino, "GW_STS;")
	}
end

rule "gateway status check button press"
when
	Item gateway_check_sts received update
then
	sendCommand(moteino, "GW_STS;")
end

rule "gateway status check button press"
when
	Item GD1_check_sts received update
then
	sendCommand(moteino, "GD1_STS;")
end
